@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  border: 5px solid blue;
  font-family: "Roboto", sans-serif;
  margin: 0;
  /* display set up */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

h1 {
  border: 1px solid red;
  margin: 0;
}
